name: Deploy to Swarm

on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Build
        run: npm ci --legacy-peer-deps && npm run build

      - name: Deploy to Swarm
        uses: o8is/hostasis-cli@v0.1.2
        with:
          batch-id: ${{ secrets.HOSTASIS_BATCH_ID }}
          key: ${{ secrets.HOSTASIS_PRIVATE_KEY }}
          path: ./docs
          project: octalmage 
          spa: true 